<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Recipe ME</title>
</head>
<body>
<header>
    <!--Top Nav-->
    <nav>
        <div class="nav-wrapper z-depth-1 teal ">
            <a href="#!" class="brand-logo">Recipe ME</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons right">dehaze</i></a>
            <ul class="right hide-on-med-and-down z-depth-2">
                <li class="z-depth-3"><a href="{{ url_for('get_recipie') }}">Home</a></li>
                <li class="z-depth-3"><a href="#">Register</a></li>
                <li class="z-depth-3"><a href="#">Login</a></li>
                <li class="z-depth-3"><a href="#">Logout</a></li>
                <li class="z-depth-3"><a href="#">My Profile</a></li>
                <li class="z-depth-3"><a href="#">Recipies</a></li>
            </ul>
        </div>
    </nav>
    <!--Mobile Nav-->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('get_recipie') }}">Home</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Recipies</a></li>
    </ul>
</header>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>