{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Recipe</h3>
<div class="row container teal lighten-5 center-block">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s3 center-block">
                <textarea id="recipe_name" name="recipe_name" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></textarea>
                <label for="textarea1">Dish Name</label>
            </div>
        </div>
        <div class="row">
            <form action="#">
                <div class="file-field input-field col s3">
                    <div class="btn">
                        <span>Picture</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="input-field col s1">
            <select>
                <option value="" disabled selected>Choose one</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Difficulty level</label>
        </div>
        <div class="row">            
            <div class="input-field col s1">
            <select>
                <option value="" selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Cooking time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <div class="input-field col s3 center-block">
                <textarea id="recipe_name" name="recipe_name" type="text" minlength="50" maxlength="300" required class="materialize-textarea"></textarea>
                <label for="textarea1">Short Description:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <div class="input-field col s3 center-block">
                <textarea id="recipe_name" name="recipe_name" type="text" minlength="50" maxlength="500" required class="materialize-textarea"></textarea>
                <label for="textarea1">Ingridients:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="input-field col s3 center-block">
                <textarea id="recipe_name" name="recipe_name" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></textarea>
                <label for="textarea1">Dish Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="input-field col s3 center-block">
                <textarea id="recipe_name" name="recipe_name" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></textarea>
                <label for="textarea1">Dish Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="input-field col s3 center-block">
                <textarea id="recipe_name" name="recipe_name" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></textarea>
                <label for="textarea1">Step 3</label>
            </div>
        </div>
    </form>
</div>
          

{% endblock %}