{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Recipe</h3>
<div class="row">
    <div class="container">
    <div class="teal lighten-5">
    <form class="col s12" method="POST" action="">
        <div class="row col s6">
            <div class="input-field col s12">
                <input id="recipe_name" name="recipe_name" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></input>
                <label for="recipe_name">Dish Name</label>
            </div>
        </div>
        <div class="row col s6">
            <form action="#">
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>Picture</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">            
            <div class="input-field col s3">
            <select id="cooking_time" name="cooking_time" class="validate" required>
                <option value="Cooking time" disabled selected>Cooking time</option>
                {% for cook in prep_time %}
                <option value="{{ cook.cooking_time }}">
                    {{ cook.cooking_time }} 
                </option>
                {% endfor %}
            </select>
            <label for="cooking_time">Cooking time</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <div class="input-field">
                <textarea id="short_describe" name="short_describe" type="text" minlength="50" maxlength="300" required class="materialize-textarea"></textarea>
                <label for="short_describe">Short Description:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <div class="input-field">
                <textarea id="ingredients" name="ingredients" type="text" minlength="50" maxlength="500" required class="materialize-textarea"></textarea>
                <label for="ingredients">Ingridients:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="input-field">
                <textarea id="step_1_of_preparation" name="step_1_of_preparation" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></textarea>
                <label for="step_1_of_preparation">Step 1</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="input-field">
                <textarea id="step_2" name="step_2" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></textarea>
                <label for="step_2">Step 2</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="input-field">
                <textarea id="step_3" name="step_3" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></textarea>
                <label for="step_3">Step 3</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="material-icons tooltipped" data-position="right" data-tooltip="VEGAN">local_florist</i>
                    <label for="vegan">
                        <input type="checkbox" id="vegan" name="vegan">
                        <span class="lever"></span>
                        Vegan
                    </label>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
</div>
          

{% endblock %}