{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Recipe</h3>
<hr>

<div class="container ">
    <div class="row">
        <div class="teal lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('new_recipes')}}" enctype="multipart/form-data">
            <!--Dish Name-->
                <div class="col s12">
                    <div class="input-field col s8">
                        <input id="recipe_name" name="recipe_name" type="text" minlength="3" maxlength="60" required class="materialize-textarea"></input>
                        <label for="recipe_name">Dish Name</label>
                    </div>
                </div>
            <!--Add Picture part-->
                <div class="col s12">
                    <div class="input-field col s8">
                        <input type="url" class="form-control" id="recipe_image" name="recipe_image" required>
                        <label for="recipe_image" class="form-label">Image URL</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s8">
                        <textarea id="short_describe" name="short_describe" type="text" minlength="50" maxlength="300" class="materialize-textarea"></textarea>
                        <label for="short_describe">Short Description:</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s8">
                        <textarea id="ingredients" name="ingredients" type="text" minlength="50" maxlength="500" class="materialize-textarea"></textarea>
                        <label for="ingredients">Ingridients:</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <textarea id="step_1_of_preparation" name="step_1_of_preparation" type="text" minlength="50" maxlength="500" class="materialize-textarea"></textarea>
                        <label for="step_1_of_preparation">Step 1</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <textarea id="step_2" name="step_2" type="text" minlength="50" maxlength="500" class="materialize-textarea"></textarea>
                        <label for="step_2">Step 2</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <textarea id="step_3" name="step_3" type="text" minlength="50" maxlength="500" class="materialize-textarea"></textarea>
                        <label for="step_3">Step 3</label>
                    </div>
                </div>
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="material-icons tooltipped" data-position="right" data-tooltip="VEGAN">local_florist</i>
                        <label for="vegan">
                            <input type="checkbox" id="vegan" name="vegan">
                            <span class="lever"></span>
                                Vegan
                        </label>
                    </div>
                </div>
                <!---Submit button-->
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}