{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Receipt</h3>
<ul class="collection with-header">
    <li class="collection-header">
        <h4>Receipies</h4>
    </li>
    <li class="collection-item">
        <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
</ul>

{% endblock %}