{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Recipe</h3>
<ul class="collapsible">
    <li>
      <div class="collapsible-header teal lighten-2 s8"><i class="material-icons">arrow_drop_down</i> First</div>
      <div class="collapsible-body"><span><img src="" alt=""> Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header teal lighten-2 s8"><i class="material-icons">arrow_drop_down</i>Second</div>
      <div class="collapsible-body"><span> <img src="" alt=""> Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header teal lighten-2 s8"><i class="material-icons">arrow_drop_down</i>Third</div>
      <div class="collapsible-body"><span> <img src="" alt=""> Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

{% endblock %}